* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: Poppins;
	list-style: none;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	width: 100vw;
	overflow-x: hidden;
}

main {
	/* height: 100%; */
	width: 100vw;
	background-color:#F7F7F7;
	display: grid;
	grid-template-rows: 3.5rem 1fr;
	
}

nav {
	/* background-color:lightyellow; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 1rem 4rem;
}

nav>h1 {
	padding: 2rem;
}

nav>.links {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: 2rem;
	gap: 2rem;


}

nav>.links>a {
	color: black;
	font-size: .9rem;
	font-weight: 400;
}

#btn {
	padding: 0.4rem 1rem;
	outline: none;
	border: none;
	background-color: black;
	color: white;
	border-radius: 1.2rem;
	transition: all ease-in 0.2s;
	width: 100%;
}

#btn:hover {
	background-color: white;
	color: black;
}

#section1 {
	margin: 1rem 4rem;
	/* background-color:lavender; */
	display: grid;
	grid-template-rows: 1.8fr 1fr;
	grid-template-columns: 2fr 1fr;
	gap: .8rem 1rem;

}

.s1 {
	position: relative;
	background-color: #B3C7FA;
	grid-row: 1/3;
	grid-column: 1/2;
	border-radius: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 0 3rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.s1>.video {
	position: relative;
	align-self: flex-end;
	/* left: 29rem; */
	background-color: rgb(246, 234, 124);
	height: 12rem;
	width: 20rem;
	border-radius: 10rem;
	margin-top: 2rem;

}

.play {
	position: absolute;
	height: 5rem;
	width: 5rem;
	background-color: #ffffff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;

}

.play>i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2rem;
}
.video video{
	width: 100%;
    height: 100%;
    object-fit: cover;
	border-radius: 10rem;
}
.s1>h1 {
	font-size: 3.5rem;
	font-weight: 400;

}

.s1>button {
	height: 3rem;
	width: 12rem;
	outline: none;
	border: none;
	border-radius: 6rem;
	margin-bottom: 2rem;
}

.s2 {
	background-color: #CBF696;
	grid-row: 1/2;
	grid-column: 2/3;
	border-radius: 2rem;
	padding: 20px;
	overflow: hidden;
	position: relative;

	display: grid;
	gap: 1rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


}

.s2>#eco {
	height: 2.2rem;
	width: 10rem;
	outline: none;
	border: none;
	border-radius: 5rem;
	background-color: #0000002c;
	color: #fff;


}

.s2>h3 {
	font-size: 1.5rem;
	font-weight: 400;
	align-self: flex-end;
	justify-self: end;
	margin-left: 9rem;

}

.marquee {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.marquee-content {
	display: flex;
	/* gap: 10px; */
	animation: marquee 20s linear infinite reverse;
	width: calc((16rem + 10px) * 10);
}

.product {
	/* width: 16rem;
	height: 7rem; */
	/* background-color: #f0f0f0; */
	margin-right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 1rem;
}

.product img {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
	border-radius: 1rem;
}

.b {
	position: absolute;
	bottom: 1rem;
	right: 2rem;

}

.s3 {
	background-color: #085C44;
	grid-column: 2/3;
	grid-row: 2/3;
	border-radius: 2rem;
	position: relative;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.s3>p {
	color: white;
	font-size: 1.2rem;
	font-weight: 300;
	padding: 2rem;

}

.s3 button {

	position: absolute;
	bottom: 1.5rem;
	right: 2rem;
}

#rbtn {
	height: 3rem;
	width: 3rem;
	border: none;
	border-radius: 50%;
	text-align: center;


}

.ri-arrow-right-up-line {
	font-size: 1.2rem;

}

#section2{
	
	/* height:100%;
	width:100vw; */
	margin-left: 4rem;
	margin-top: 2rem;
	
	
	
}
#section2>button{
	padding: 5px 8px;
	outline: none;
	border: none;
	border-radius: 5rem;
	background-color: #CBF696;
	color: #000000;
	font-size: small;
	font-weight: bold;
	

}


#section2>h1{
	font-weight: 500;
	font-size: 2.8rem;
}


#section3{
	display: grid;
	grid-template-columns:2fr 1fr  ;
	grid-template-rows: 1fr ;
	/* height: 0vh; */
	
	margin: 1rem 4rem;
	gap:0rem 2rem; 

	

}
.s3pr{
	border-radius: 2rem;

}
#s3pr1{
	
	grid-column: 1/2;
	
	display: grid;
	grid-template-columns:1fr 1fr 1fr ;
	grid-template-rows: 1fr 1fr ;
	gap:1rem 2rem; 

}
#s3pr2{
	grid-column: 2/3;
	background-color:#B3C7FA;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}
#s3pr2 img {
	max-width: 50%;
	max-height: 50%;
	object-fit: cover;
	border-radius: 1rem;
	margin-left: 2rem;
}

#s3pr2>h1{
	
	padding: 2rem;
	font-weight: 500;
	font-size: 1.8rem;
}
#s3pr3{
	grid-row: 1/2;
	grid-column: 1/3;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	/* text-align: center; */
	
}
.header {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    /* margin-bottom: 20px; */
	padding: 1rem;
	height: 30%;
	gap: 2rem;
}
.avatars {
    display: flex;
    align-items: center;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: -8px; /* Adjust overlap */
    border: 2px solid white; /* Border to create separation effect */
}
.leaf{
	display: flex;
	align-items: center;
	justify-content: center;
}
.subheading {
    font-size: 14px;
    color: #999;
    margin-left: 10px; /* Adjust spacing between icon and text */
}
.s3pr3-2{
	height: 70%;;
}
.s3pr3-2>h1{
	font-size: 1.6rem;
	font-weight: 500;
	padding: 2rem;
}
#s3pr4{
	
	grid-row: 1/2;
	grid-column: 3/4;
	/* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}
#s3pr4 img {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
	border-radius: 1rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#s3pr5{
	grid-row: 2/3;
	grid-column: 1/2;
	background-color:#CBF696;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
}

#s3pr5 img {
	max-width: 50%;
	max-height: 50%;
	object-fit: cover;
	border-radius: 1rem;
	margin-left: 2rem;
}

#s3pr5>h1{
	/* align-self: flex-end; */
	padding: 2rem;
	font-weight: 500;
}
#s3pr6{
	grid-row: 2/3;
	grid-column: 2/5;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.s3pr6-1{
	
	padding: 1.2rem;
	display: flex;
	flex-wrap: wrap;
    gap: 10px;
   

}
.s3pr6-1>p{
	background-color: #f0f0f0;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: .9rem;
    
	
}
.s3pr6-2{
	height: 50%;
	display: flex;
}
.s3pr6-2>h1{
	align-self: flex-end;
	padding: 1.5rem;
	font-size: 1.6rem;
	font-weight: 500;
}























/* @keyframes marquee {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(calc(-100% - 10px));
	}
} */

@keyframes marquee {
	0%{
		transform: translateX(calc(-100% - 10px) );
	}
	100%{	
		transform: translateX(0);
	}
}


